# Local files
.env

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
server/server
server/server-linux

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temporary files
/tmp/

# Certificates
*.pem
