services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: chat-server
    environment:
        DATABASE_URL: /data/sessions.db
    ports:
      - "8080:8080"
    networks:
      - chat-network
    restart: unless-stopped
    volumes:
      - ./data:/data

  client1:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: chat-client-1
    ports:
      - "3001:80"
    networks:
      - chat-network
    depends_on:
      - server
    restart: unless-stopped

networks:
  chat-network:
    driver: bridge

volumes:
  db-data:
